<style type="text/css">
	.overdiv-about {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-right: 1px solid blue;
	border-left: 1px solid blue;
	width: 1000px;
	top: -8px;
	height: 1000px;
	min-width: 1000px;
}

	
</style>


<div class='overdiv-about'>
	
<h1>This is the about page</h1>
<p>Here you can read about us</p>

</div>	




